@model Colors

<div class="py-2">&nbsp;</div>
<footer id="main-footer" class="footer fixed-bottom container-fluid bg-@Model.BackgroundColor text-@Model.ForegroundColor">
    <div class="container text-center"><p>&copy; @DateTime.Now.Year - @ViewData["AppTitle"]</p></div>
</footer>