* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    height: 100%;
}

#body-container {
    height: calc(100% - 8em);
}

#roomsList, #messagesList {
    height: calc(100% - 6.4em);
    overflow-y: scroll;
}

#usersList {
    height: calc(100% - 2.9em);
    overflow-y: scroll;
}
