
@{
    ViewData["Title"] = "Chat";
}

@*<h4>@ViewData["title"]</h4>*@

<div class="container-fluid" style="height: 80vh;">
    <div id="root" class="h-100"><!-- This div's content will be managed by React. --></div>
</div>
