@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <p><strong>Aleksandar Dimitrov</strong></p>
    <p><strong>Email:</strong> <a href="mailto:alex.dimitrov.bg@gmail.com">alex.dimitrov.bg@gmail.com</a></p>
    <p><strong>Mobile:</strong> <a href="tel:+359888887843">+359-888-887-843</a></p>
</address>
